@tailwind base;
@import "tailwindcss/components";
@import "./styles/components.css";
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, sans-serif;
  }

  :where(div,ul,ol)::-webkit-scrollbar {
    @apply w-1 h-1.5;
  }

  :where(div,ul,ol)::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  :where(div,ul,ol)::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-full;
  }

  :where(div,ul,ol):hover::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 dark:bg-neutral-700;
  }

  h1 {
    @apply text-4xl font-bold text-slate-900 dark:text-white;
  }

  h2 {
    @apply text-3xl font-medium text-slate-800 dark:text-white;
  }

  h3 {
    @apply text-2xl font-medium text-slate-800 dark:text-white;
  }

  p {
    @apply text-base font-normal text-slate-700 dark:text-slate-300;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  main {
    @apply dark:bg-slate-900 dark:text-white/20 before:bg-[url(./assets/background-fix.svg)] before:bg-contain before:bg-no-repeat md:before:bg-right-top before:w-[100%] before:h-[100vh] before:absolute before:top-0 before:left-0;
  }

  /* Layout */
  .content-wrapper {
    @apply container max-w-full flex min-h-[calc(100vh_-_4rem)] relative;
  }

  .content {
    @apply flex flex-1 px-6 md:px-10 md:ml-[240px] lg:ml-[260px];
  }

  .content-left {
    @apply flex-1 py-6 mb-24;
  }

  .content-right {
    @apply w-1/3 lg:w-1/4 h-[calc(100vh_-_4rem)] ml-10 py-8 pl-6 overflow-y-auto border-l border-primary-main/10 hidden empty:hidden lg:sticky lg:top-16 lg:block
  }

  .content-right h6 {
    @apply font-semibold text-xl text-neutral-800 mb-6 dark:text-neutral-300;
  }

  .content-right li {
    @apply capitalize cursor-pointer mb-1 dark:text-neutral-100 dark:hover:text-primary-main;
  }

  .content-right li div {
    @apply flex gap-2 ;
  }

  .content-right li:hover :where(div, svg) {
    @apply text-primary-main dark:text-secondary-main;
  }

  .content-right li svg {
    @apply w-4
  }

  /* Header */
  nav {
    @apply border-b border-neutral-200 dark:border-neutral-700 sticky top-0 z-10 bg-white/20 backdrop-blur-sm dark:bg-slate-900/20 ease-in-out duration-300;
  }

  .header-top {
    @apply container px-4 h-16 max-w-full flex justify-between items-center md:px-6 lg:px-10;
  }

  .logo-wrapper {
    @apply font-bold flex items-center dark:text-white text-lg;
  }

  .tagline {
    @apply ml-3 text-xs leading-5 font-normal text-sky-600 dark:text-sky-400 bg-sky-400/10 rounded-full py-1 px-3 hidden xl:flex items-center hover:bg-sky-400/20 gap-1;
  }

  .tagline span {
    @apply text-red-500;
  }

  .tagline:hover span {
    @apply animate-ping;
  }

  .header-action {
    @apply flex justify-between gap-4;
  }

  .header-action svg {
    @apply text-slate-900 dark:text-white hover:text-primary-main dark:hover:text-primary-main h-6 w-6;
  }

  .header-action .search {
    @apply cursor-pointer border-r border-neutral-200 dark:border-neutral-700 pr-4;
  }

  .header-action .dark-mode-btn {
    @apply w-6 h-6 overflow-hidden relative cursor-pointer;
  }

  .dark-mode-btn svg {
    @apply absolute ease-in-out duration-300 delay-100 stroke-neutral-600 dark:stroke-white;
  }

  .header-bottom {
    @apply container px-4 max-w-full h-12 flex items-center gap-2 sticky top-16 before:absolute before:h-[1px] before:top-0 before:inset-x-4 before:bg-neutral-200 before:dark:bg-neutral-700 md:hidden;
  }

  .menu-btn {
    @apply p-1 cursor-pointer;
  }

  .menu-btn svg {
    @apply text-slate-900 dark:text-white hover:text-primary-main h-[18px] w-[18px];
  }

  .breadcrumbs {
    @apply flex items-center gap-1 text-sm capitalize;
  }

  .search-popup {
    @apply h-[100vh] bg-slate-900/20 backdrop-blur-sm fixed inset-0 p-16 flex justify-center z-[999];
  }

  .search-box {
    @apply w-full md:w-1/2 max-h-full h-max overflow-auto bg-white shadow-sm rounded-lg py-2;
  }

  .search-box-header {
    @apply flex justify-between items-center w-full border-b border-neutral-200 md:border-neutral-700 h-10 px-4;
  }

  /* Sidebar */
  .sidebar-wrapper {
    @apply w-full fixed -left-full inset-y-0 transition-all z-30 md:left-0 md:z-[5] md:w-auto md:top-[65px] md:bottom-0 md:border-r md:border-neutral-200 dark:border-neutral-700;
  }

  .sidebar-wrapper.open {
    @apply bg-slate-600/20 backdrop-blur-sm left-0 md:bg-transparent;
  }

  aside {
    @apply w-3/4 h-full bg-white dark:bg-slate-900 before:absolute before:left-0 before:top-0 before:w-[calc(100%_-_4px)] before:h-7 before:bg-white dark:before:bg-slate-900 before:z-[31] after:absolute after:left-0 after:top-7 after:w-[calc(100%_-_4px)] after:h-7 after:bg-gradient-to-b after:from-white dark:after:from-slate-900 after:to-transparent after:z-[31] md:bg-transparent dark:md:bg-transparent relative -left-full md:left-0 md:w-[240px] lg:w-[260px] md:before:hidden md:after:hidden;
  }

  .sidebar-wrapper.open aside {
    @apply origin-left ease-in-out duration-300 delay-300 left-0;
  }

  .close-menu {
    @apply absolute right-4 top-4 cursor-pointer z-[32] md:hidden;
  }

  .close-menu svg {
    @apply h-6 w-6 text-current hover:text-primary-main;
  }

  aside > ul {
    @apply px-4 pt-14 pb-6 max-h-full overflow-y-auto md:px-6 md:py-10 lg:px-10;
  }

  aside > ul > li {
    @apply mb-6 last:mb-0 relative before:w-[1px] before:bg-slate-200 dark:before:bg-slate-800 before:absolute before:top-1 before:bottom-0 before:left-1;
  }

  aside li h6 {
    @apply text-xs capitalize mb-3 flex items-center gap-2 text-slate-400 before:w-2 before:h-2 before:bg-slate-200 dark:before:bg-slate-800 before:rounded-full;
  }

  aside li .menu-item {
    @apply capitalize h-8 mb-2 w-full flex items-center px-5 relative before:absolute before:top-0 before:left-[3px] before:w-[3px] before:h-8 before:bg-primary-main dark:before:bg-secondary-main before:hidden hover:before:block dark:text-white;
  }

  li a.active {
    @apply text-primary-main;
  }

  li a.active::before {
    @apply before:absolute w-[3px] h-8 bg-primary-main left-[3px] top-0 block;
  }
}
